.courses {

    /* .owl-dot span {
        background: rgb(23 37 84) !important;
    }

    .owl-dot:hover span {
        background: rgb(34 211 238) !important;
    }

   .active span {
        background: rgb(34 211 238) !important;
    } */

    .owl-nav {
        font-size: 7rem ;
        color: rgb(23 37 84);
        margin-top: -2rem !important;
    }
    
    .owl-prev {
        margin: 0px 20px !important;
    }

    .owl-next {
        margin: 0px 20px !important;
    }

    .owl-nav .owl-prev:hover {
        background: transparent;
        color: rgb(34 211 238);
        text-decoration: none; }

    .owl-nav .owl-next:hover {
        background: transparent;
        color: rgb(34 211 238);
        text-decoration: none; }
}

/* .owl-theme .owl-dots .owl-dot span {
    margin: 5px 18px !important;
    @media (max-width:600px) {
        margin: 5px 10px !important;
    }
} */

