.courses {
    .owl-dot span {
        background: rgb(23 37 84) !important;
    }

    .owl-dot:hover span {
        background: rgb(34 211 238) !important;
    }

   .active span {
        background: rgb(34 211 238) !important;
    }
}