.navbarcolor {

    background-color: rgb(23 37 84);
    width: 100%;
    z-index: 99;

}

.navbarcolor.active {

    background-color: rgba(3, 105, 161, 0.85); 
    top: 0;
    position: sticky;
    width: 100%;
    border-radius: 0 0 5rem 0;

}

nav .active {
    color: rgb(34 211 238) !important;
}

nav a {
    color: white !important; 
    font-size: 1.1rem;
}

nav li a:hover {
    color: rgb(34 211 238) !important;
    @media (min-width:768px) {
        background-color: transparent !important;
    }
}

.btn-active{
    color: white; 
}

.btn-active-on{
    color: rgb(34 211 238); 
}

nav button {
    font-size: 1.1rem;
    @media (max-width:767px) {
        padding: 0.5rem 1rem 0.5rem 0.75rem;
    }
}

nav button:hover {
    color: rgb(34 211 238); 
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: transparent !important;
  }

.hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: transparent;
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: white;
}

.px-2 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    @media (max-width:1024px) {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
    }
  }