.navbarcolorinner {

    background-color: rgb(23 37 84);
    width: 100%;
    border-radius: 0 0 5rem 0;

}

.navbarcolorinner.active {
    background-color: rgb(3 105 161); 
    top: 0;
    position: sticky;
    width: 100%;
    border-radius: 0 0 5rem 0;
    z-index: 99;
}

