.desktop{
    display: inherit;
    @media (max-width:600px) {
        display: none;
    }
}

.mobile{
    display: none;
    @media (max-width:600px) {
        display: inherit;
    }
}

.bg-destak{
        background-image: url('../images/destaque.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    @media (max-width:600px) {
        background-image: linear-gradient(180deg, rgb(168, 250, 242) 0%, rgb(249, 255, 184) 47%, rgba(0,212,255,1) 100%);
    }
}

.bg-vantagem{
    background-image: url('../images/bg-vantagens-corretor.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width:600px) {
        background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 47%, rgb(163, 1, 101) 100%);
    }
}

.bg-hero{
    background-image: url('../images/hero-ibresp.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
@media (max-width:600px) {
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 47%, rgba(0,212,255,1) 100%);
}
}

#rd-section-joq3m2m5c {
 background-color: transparent !important;
}

#rd-form-joq3m2m5i .bricks-form__label{
    color: transparent !important;
}

#rd-form-joq3m2m5i .bricks-form__input::placeholder{
    color: rgb(76 29 149) !important;
    
}

#rd-form-joq3m2m5i .bricks-form__input{
    border-radius: 8px !important;
    border-color: transparent !important;
}

#rd-row-juvacwbo .bricks--column > div {
    padding: 0 !important;
  }