.bg-destak{
        background-image: url('../images/destaque.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    @media (max-width:600px) {
        background-image: url('../images/destaque-mobile.avif');
    }
}

.bg-vantagem{
    background-image: url('../images/bg-vantagens-corretor.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width:600px) {
        background-image: linear-gradient(180deg, rgb(23 37 84) 0%, rgb(9, 65, 121) 47%, rgb(85, 1, 163) 100%);
    }
}

.bg-hero{
    background-image: url('../images/hero-ibresp.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
@media (max-width:600px) {
    background-image: url('../images/hero-ibresp-mobile.webp');
}
}
